body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #ffb727;
    text-decoration: none;

    &:hover {
        color: #ffc85a;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}